<% provide(:title, "Informazioni") %>
<h1>Informazioni</h1>
<p>
    </br>
    <h5>Progetto Laboratorio Architetture Software e Sicurezza Informatica.</h5></br></br>
    <h5>Repository GitHub:<a href="https://github.com/machine1104/VVC"> https://github.com/machine1104/VVC</a></h5></br></br>
    <h5>Partecipanti:</h5></br>
    <ul>
        <li> Edoardo Puglisi
        <li> Alessandro Tibaldi
        <li> Manuel Sabelli
    </ul>
    </br></br>
    <h5>Link Heroku:<a href="https://vienivedicompra.herokuapp.com/"> Vieni Vedi Compra</a></h5>
</p> 