<% provide(:title, "Contatti") %>
<h1>Contatti</h1>
<p>
  <h4>Edoardo Puglisi</h4>
  <ul>
    <li> Matricola: 1649359
    <li> GitHub: <a href="https://github.com/machine1104"> https://github.com/machine1104</a>
  </ul></br>
  <h4>Alessandro Tibaldi</h4>
  <ul>
    <li> Matricola: 1662275
    <li> GitHub: <a href="https://github.com/Tibbo93"> https://github.com/Tibbo93</a>
  </ul></br>
  <h4> Manuel Sabelli</h4>
  <ul>
    <li> Matricola: 1656996
    <li> GitHub: <a href="https://github.com/Sabbo23"> https://github.com/Sabbo23</a>
</p> 