<% provide(:title, 'Annunci') %>
<div>
    <h1> Annunci </h1>
    <% if @announcements.any? %>
        <h3>Annunci trovati:
            <%= @announcements.count %>
        </h3>
        <%= will_paginate %>
        <ol class="announcements">
            <%= render @announcements %>
        </ol>
        <%= will_paginate %>
    <% else %>
        <h3>Annunci trovati: </h3>
    <% end %>
</div>