<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Il form contiene <%= object.errors.count %> errori/e:<br/><br/>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>